# Database Connection with Python using SQLite3

A database connection is essential for allowing your application (such as a Python program) to interact with a database. Without a connection, your program wouldn't be able to read, write, or manipulate data stored in the database. Here are some of the key reasons why a database connection is needed:

1. Data Storage and Retrieval
2. Enabling SQL Queries
3. Transaction Management
4. Concurrency and Multi-user Access
5. Security and Authentication
6. Efficiency and Performance
7. Data Integrity and Consistency
8. Communication Between Application and Database
9. Managing Complex Queries and Relationships
10. External Applications and APIs

### How to do Database Connection

To connect to a database using Python, you'll need to use a database connector or driver specific to the type of database you're working with (e.g., SQLite, MySQL, PostgreSQL).

**1. Import required library (SQLite):** SQLite is a lightweight, serverless database, and Python has a built-in library called sqlite3 to connect to SQLite databases.

In [23]:
import sqlite3

**2. Connect to a Database:** It creates a new one if it doesn't exist.

In [24]:
connect = sqlite3.connect('example.db')

**3. Create a Cursor Object:** Cursor serves as an intermediary between your Python code and the database.

In [25]:
cursor = connect.cursor()

**4. Create a Table:** Create a new table if doesn't exist.

In [26]:
cursor.execute('''CREATE TABLE IF NOT EXISTS person (id INTEGER PRIMARY KEY, name VARCHAR NOT NULL, age INTEGER, department VARCHAR)''')

**5. Insert data into Tables:**

In [27]:
cursor.execute("INSERT INTO person (name, age, department) VALUES ('nitin', 28, 'Machine Learning')")

cursor.execute("INSERT INTO person (name, age, department) VALUES ('ruchita', 30, 'Data Analyst')")

cursor.execute("INSERT INTO person (name, age, department) VALUES ('neha', 29, 'Data Engineer')")

cursor.execute("INSERT INTO person (name, age, department) VALUES ('timish', 27, 'Cloud Engineer')")

cursor.execute("INSERT INTO person (name, age, department) VALUES ('amol', 27, 'Testing Engineer')")

**6. Commit the changes:**

In [28]:
connect.commit()

**7. Retrieve Data:**

In [29]:
cursor.execute("SELECT * FROM person")

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'nitin', 28, 'Machine Learning')
(2, 'ruchita', 30, 'Data Analyst')
(3, 'neha', 29, 'Data Engineer')
(4, 'timish', 27, 'Cloud Engineer')
(5, 'amol', 27, 'Testing Engineer')

**8. Close the Connecction:**

In [30]:
connect.close()

### Full Example:

In [22]:
import sqlite3

# Connect to a database (it creates a new one if it doesn't exist)
connect = sqlite3.connect('example.db')

# Create a cursor object
cursor = connect.cursor()

# Create a table (if it doesn't exist)
cursor.execute('''CREATE TABLE IF NOT EXISTS students (
                    id INTEGER PRIMARY KEY, 
                    name TEXT, 
                    age INTEGER, 
                    department TEXT)''')

# Insert data into the table
cursor.execute("INSERT INTO students (name, age, department) VALUES ('nitin', 28, 'Machine Learning')")
cursor.execute("INSERT INTO students (name, age, department) VALUES ('rucha', 30, 'Data Analyst')")
cursor.execute("INSERT INTO students (name, age, department) VALUES ('neha', 29, 'Data Engineer')")
cursor.execute("INSERT INTO students (name, age, department) VALUES ('timish', 27, 'Cloud Engineer')")
cursor.execute("INSERT INTO students (name, age, department) VALUES ('amol', 27, 'Testing Engineer')")

# Commit the changes
connect.commit()

# Retrieve data
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

# Display the results
for row in rows:
    print(row)

# Close the connection
connect.close()

(1, 'nitin', 28, 'Machine Learning')
(2, 'rucha', 30, 'Data Analyst')
(3, 'neha', 29, 'Data Engineer')
(4, 'timish', 27, 'Cloud Engineer')
(5, 'amol', 27, 'Testing Engineer')